@import url('https://fonts.googleapis.com/css?family=Lato');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
   max-height: 100%;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   background: url('https://images8.alphacoders.com/794/794362.jpg');
   background-size: cover;
 }

